@import "../../../../assets/sass/modules/_mixins.sass"

.active
  border-bottom: 1px solid white
button
  display: none

.navbar
  justify-content: space-between
  @include media('md')
    .nav-buttons
      display: inline
  @include media('xs')
    button
      display: inline
    .nav-buttons
      display: none

.brand
  display: flex
  align-items: center
.nav-buttons
  a
    margin-right: 1rem
    text-decoration: none
    color: white
