@import "../../../../../assets/sass/modules/_mixins.sass"

.container
  margin-top: 2rem
  display: flex
  justify-content: center
  flex-direction: column
  overflow-x: auto
.mat-table
  overflow: auto
.mat-header-cell
  padding: 0.5rem
  text-align: center
.mat-cell
  padding: 0.5rem
  text-align: center
.action-link
  min-width: 97px
.action-link > a
  margin-right: 1rem
.action-link > a:last-child
  margin-right: 0rem
h2
  margin-top: 2rem
  text-align: center
