<form [formGroup]="actualizarClienteForm" (ngSubmit)="actualizar()">

  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>Actualizar Cliente</mat-card-title>
      <mat-card-subtitle>Cedula cliente: {{actualizarClienteForm.controls.cedula.value}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="contenido">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" required formControlName="nombre" id="nombre" name="nombre">
        <mat-error *ngIf="actualizarClienteForm.controls.nombre.errors?.required">
          El nombre es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input matInput placeholder="Direccion" required formControlName="direccion" id="direccion" name="direccion">
        <mat-error *ngIf="actualizarClienteForm.controls.direccion.errors?.required">
          La direccion es un campo <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput type="number" placeholder="Telefono" required formControlName="telefono" id="telefono" name="telefono">
        <mat-error *ngIf="actualizarClienteForm.controls.telefono.errors?.required">
          El telefono es un campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Ciudad" required formControlName="ciudad" id="ciudad" name="ciudad">
        <mat-error *ngIf="actualizarClienteForm.controls.ciudad.errors?.required">
          La ciudad es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
    </mat-card-actions>

  </mat-card>

</form>


